<main class="container">
    <div id="users-block" class="my-3 p-3 bg-white rounded shadow">
        <h6 class="border-bottom pb-2 mb-0">Registered Users</h6>

        <div id="users-list">
            {{#each users}}
            <div class="media pt-3">
                <img class="mr-2 rounded identicon" data-src="{{Email}}">
                <div class="media-body pb-3 mb-0 small border-bottom">
                    <div class="d-flex justify-content-between">
                        <strong>{{Name}}</strong>
                        <a class="tmp-del mr-3" href="" onclick='deleteUser("{{Id}}", "{{Email}}");'>Delete User</a>
                    </div>
                    <span class="d-block">{{Email}}</span>
                </div>
            </div>
            {{/each}}

        </div>

        <small class="d-block text-right mt-3">
            <a id="reload-btn" href="">Reload users</a>
        </small>
    </div>

    <div id="invite-form-block" class="align-items-center p-3 mb-3 text-white-50 bg-secondary rounded shadow">
        <div>
            <h6 class="mb-0 text-white">Invite User</h6>
            <small>Email:</small>

            <form class="form-inline" id="invite-form">
                <input type="email" class="form-control w-50 mr-2" id="email-invite" placeholder="Enter email">
                <button type="submit" class="btn btn-primary">Invite</button>
            </form>
        </div>
    </div>
</main>

<script>
    function reload() { window.location.reload(); }
    function identicon(email) {
        const data = new Identicon(md5(email), { size: 48, format: 'svg' });
        return "data:image/svg+xml;base64," + data.toString();
    }
    function _post(url, successMsg, errMsg, data) {
        $.post({ url: url, data: data })
            .done(function () {
                alert(successMsg);
                reload();
            }).fail(function (e) {
                const r = e.responseJSON;
                const msg = r ? r.ErrorModel.Message : "Unknown error";
                alert(errMsg + ": " + msg);
            });
    }
    function deleteUser(id, mail) {
        var input_mail = prompt("To delete user '" + mail + "', please type the name below")
        if (input_mail) {
            if (input_mail == mail) {
                _post("/admin/users/" + id + "/delete",
                    "User deleted correctly",
                    "Error deleting user");
            } else {
                alert("Wrong email, please try again")
            }
        }
    }
    function inviteUser() {
        inv = $("#email-invite");
        data = JSON.stringify({ "Email": inv.val() });
        inv.val("");
        _post("/admin/invite/", "User invited correctly",
            "Error inviting user", data);
    }

    $(window).on('load', function () {
        //$("#reload-btn").click(reload);
        $("#invite-form").submit(inviteUser);
        $("img.identicon").each(function (i, e) {
            e.src = identicon(e.dataset.src);
        });
    });
</script>