<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bitwarden_rs Admin Panel</title>

    <link rel="stylesheet" href="{{urlpath}}/bwrs_static/bootstrap.css" />
    <script src="{{urlpath}}/bwrs_static/bootstrap-native-v4.js"></script>
    <script src="{{urlpath}}/bwrs_static/md5.js"></script>
    <script src="{{urlpath}}/bwrs_static/identicon.js"></script>
    <style>
        body {
            padding-top: 70px;
        }

        @media (max-width:768px) {
            body {
                padding-top: 190px;
            }

            .container {
                max-width: 100%;
            }
        }

        img {
            width: 48px;
            height: 48px;
        }

        .navbar img {
            height: 24px;
            width: auto;
        }
    </style>
    <script>
        function reload() { window.location.reload(); }
        function msg(text, reload_page = true) {
            text && alert(text);
            reload_page && reload();
        }
        function identicon(email) {
            const data = new Identicon(md5(email), { size: 48, format: 'svg' });
            return "data:image/svg+xml;base64," + data.toString();
        }
        function toggleVis(input_id) {
            const elem = document.getElementById(input_id);
            const type = elem.getAttribute("type");
            if (type === "text") {
                elem.setAttribute("type", "password");
            } else {
                elem.setAttribute("type", "text");
            }
            return false;
        }
        function _post(url, successMsg, errMsg, body, reload_page = true) {
            fetch(url, {
                method: 'POST',
                body: body,
                mode: "same-origin",
                credentials: "same-origin",
                headers: { "Content-Type": "application/json" }
            }).then( resp => {
                if (resp.ok) { msg(successMsg, reload_page); return Promise.reject({error: false}); }
                respStatus = resp.status;
                respStatusText = resp.statusText;
                return resp.text();
            }).then( respText => {
                try {
                    const respJson = JSON.parse(respText);
                    return respJson ? respJson.ErrorModel.Message : "Unknown error";
                } catch (e) {
                    return Promise.reject({body:respStatus + ' - ' + respStatusText, error: true});
                }
            }).then( apiMsg => {
                msg(errMsg + "\n" + apiMsg, reload_page);
            }).catch( e => {
                if (e.error === false) { return true; }
                else { msg(errMsg + "\n" + e.body, reload_page); }
            });
        }
    </script>

</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top shadow mb-4">
    <div class="container">
        <a class="navbar-brand" href="{{urlpath}}/admin"><img class="pr-1" src="{{urlpath}}/bwrs_static/shield-white.png">Bitwarden_rs Admin</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{urlpath}}/admin">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{urlpath}}/admin/users/overview">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{urlpath}}/admin/organizations/overview">Organizations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{urlpath}}/admin/diagnostics">Diagnostics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{urlpath}}/">Vault</a>
                </li>
            </ul>
        </div>

        <ul class="navbar-nav">
            {{#if version}}
            <li class="nav-item">
                <span class="navbar-text mr-2">Version: {{version}}</span>
            </li>
            {{/if}}

            {{#if logged_in}}
            <li class="nav-item rounded btn-secondary">
                <a class="nav-link" href="{{urlpath}}/admin/logout">Log Out</a>
            </li>
            {{/if}}
        </ul>
    </div>
    </nav>

    {{> (page_content) }}

    <script>
        // get current URL path and assign 'active' class to the correct nav-item
        (function () {
            var pathname = window.location.pathname;
            if (pathname === "") return;
            var navItem = document.querySelectorAll('.navbar-nav .nav-item a[href="'+pathname+'"]');
            if (navItem.length === 1) {
                navItem[0].parentElement.className = navItem[0].parentElement.className + ' active';
            }
        })();
    </script>
</body>

</html>