{{{grantee_name}}} 的紧急访问请求正在等待中
<!---------------->
{{grantee_name}} 已发起对您的帐户进行{{atype}}的紧急访问请求。您可以登录到 <a href="{{url}}/">Web 密码库</a> 并手动批准或拒绝此请求。

如果您不采取任何措施，该请求将在 {{days_left}} 天后自动批准。
{{> email/email_footer_text }}
