{{{grantee_name}}} 已发起紧急访问请求
<!---------------->
{{grantee_name}} 已发起一个紧急访问请求以 {{atype}} 您的账户。您可以登录到 <a href="{{url}}/">Web保险库</a> 并手动批准或拒绝此请求。

如果您不采取任何操作，该请求将在 {{wait_time_days}} 天后自动批准。
{{> email/email_footer_text }}