Přihlášení z nového zařízení {{device}}
<!---------------->
<html>
<p>
   Tvůj účet byl právě použit a přihlášen v novém zařízení.

   Datum: {{datetime}}
   IP adresa: {{ip}}
   Typ zařízení: {{device}}

   Kdykoliv můžeš odhlásit svůj účet ze všech zařízení v
    <a href="{{url}}">Sejfu</a> v Nastavení > Můj účet > Odhlásit ze všech zařízení.
</p>
</html>
