来自 *{{device_name}}* 的新设备登录
<!---------------->
您的账户刚刚从一个新设备登录。

* 日期: {{datetime}}
* IP 地址: {{ip}}
* 设备名称: {{device_name}}
* 设备类型: {{device_type}}

您可以从 Web 保险库 (<a href="{{url}}">{{url}}</a>) 中的“设置” > “我的账户” > “撤销会话”取消所有有权访问您账户的设备。
{{> email/email_footer_text }}