New Device Logged In From {{{device}}}
<!---------------->
<html>
<p>
   Your account was just logged into from a new device.

   Date: {{datetime}}
   IP Address: {{ip}}
   Device Type: {{device}}

   You can deauthorize all devices that have access to your account from the
    <a href="{{url}}/">web vault</a> under Settings > My Account > Deauthorize Sessions.
</p>
</html>
