Přidej se do Sejfu {{org_name}}
<!---------------->
<html>
<p>
Byl jsi pozván do Sejfu chapteru <b>{{org_name}}</b>.
<br>
<br>
<a href="{{url}}/#/accept-organization/?organizationId={{org_id}}&organizationUserId={{org_user_id}}&email={{email}}&organizationName={{org_name}}&token={{token}}">
Pro přidání klikni sem</a>
</p>
<p>Pokud se přidat nechceš, klidně tento email ignoruj.</p>
</html>
